**/test/
.ipynb_checkpoints
.vscode
__pycache__
*.ipynb

**/build/
import_matrix_wrapper.c

/hardware/ct.vh
/hardware/variable_nodes.v
/hardware/check_nodes.v
/hardware/lut_biases.v
/hardware/out_layer.v
/hardware/*_tb.v

simfiles.f